body {
    font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

div {
    border: 1px solid red;
}

.header {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    border: 1px solid red;
    padding: 0px;
    gap: 20px;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
    padding: 4px 20px;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: 600;
}

.signup {
    border: 1px solid #1F2937;
}

.quatre {
    border: 3px solid #3882F6;
    border-radius: 6px;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

a,
.text {
    font-size: 18px;
    color: #E5E7EB;
}

.heroimg {
    background-color: grey;
    color: #E5E7EB;
}

a {
    text-decoration: none;
}

.third {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
}

.quote {
    font-style: italic;
}

.bluebox {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
}

.action {
    font-weight: 800;
}

.upsign {
    border: 1px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
}