body {
    font-family: Roboto, Oxygen, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.header,
nav {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    padding: 0px;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 50px;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.awesome {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
    margin: 2px;
    margin-right: 30%;
    margin-bottom: 20px;
}

.text {
    margin: 2px;
    margin-right: 30%;
    margin-bottom: 20px;
}

button {
    background-color: #3882F6;
    padding: 6px 24px;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: 600;
}

.signup {
    border: 1px solid #1F2937;
}

.hero,
.heroimg {
    flex: 1;
}

.heroimg {
    background-color: grey;
    color: #E5E7EB;
    max-width: 500px;
}

a {
    text-decoration: none;
}

.random {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
}

.information {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 120px;
    flex-wrap: wrap;
}

.box {
    max-width: 150px;
} 

.subtext {
    text-align: center;
}

.quatre {
    border: 3px solid #3882F6;
    border-radius: 6px;
    height: 140px;
    width: 150px;
}

a,
.text {
    font-size: 18px;
    color: #E5E7EB;
}

.third {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.quote {
    font-style: italic;
    font-weight: 200;
    margin-top: 120px;
    margin-left: auto;
    margin-right: 35%;
    max-width: 50%;
    margin-bottom: 2px;
}

.credit {
    margin-bottom: 150px;
    margin-left: auto;
    margin-right: 35%;
    margin-top: 2px;
}

.fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.bluebox {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 4px;
    display: flex;
    align-items: center;
    padding: 15px 75px;
    gap: 75px;
}

.action {
    font-weight: 800;
}

.upsign {
    border: 1px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.copyright {
    margin-bottom: 0px;
}

.mine {
    margin-top: 0px;
}